html {
  background-color: #e8eddf;
}

body {
  padding-top: 56px;
  background-color: #e8eddf;
}

.navbar {
  background-color: #311847;
  padding: 18px !important;
  border: 2px solid black;
}

.navbar-nav .nav-link {
  color: #e8eddf;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.inicial{
  border: 2px solid black;
  height: 100vh;
  width: 100%; /* Garante que ocupe 100% da largura do container */
  max-width: 100% !important;

  background-color: #e8eddf;
  
  top: 0;
  left: 0;
  margin: 0; /* Remove qualquer margem padrão */
  padding: 0; /* Remove qualquer padding padrão */
  box-sizing: border-box; /* Garante que largura/altura inclua bordas e padding */

  display: flex;
  align-items: center;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.9)), url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&q=80');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow:hidden;
}

.titulo{
  margin-top: 70px;
  padding: 15px;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  color:white;
}

.subtitulo{
  margin-top: 70px;
  font-family: 'Playfair Display', serif;
  font-size:25px;
  color:white;
}

.beq{
  margin: 130px;
  color:white;
  text-decoration: none;

  font-family: 'Playfair Display', serif;
  font-size:25px;
  
  padding: 15px;
  padding-top: 1px;
  padding-bottom: 1px;

  background-color: #311847;
  border-radius: 15px;
  border: 3px solid black;
}


.equipamentos {
  border: 2px solid black;
  height: 100vh;
  max-width: 100% !important;

  background-color: #e3eeeb;

  display: flex;
  align-items: center;
  justify-content: center;
  
  overflow: scroll;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card{
  margin: 5px;
  padding: 3px;

}

.containeraqua {
  border: 2px solid black;
  height: 100vh;
  max-width: 100% !important;
  background-color: #e3eeeb;
}

.containerlima {
  border: 2px solid black;
  height: 100vh;
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  background-color: #ebf3dd;
}

.card-img-top{
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}