* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Remove o scroll horizontal */
  background-color: #e8eddf;
}

body {
  padding-top: 56px;
}

.navbar {
  background-color: #311847;
  padding: 18px !important;
  border: 2px solid black;
}

.navbar-nav .nav-link {
  color: #e8eddf;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.inicial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%; /* Garante que ocupa toda a largura disponível */
  min-height: calc(100vh - 56px);
  padding: 50px;
  box-sizing: border-box;

  background-color: #e8eddf;
  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.9)), url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center; /* Centraliza o texto */
}

.titulo {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: white;
  margin-top: 70px;
  line-height: 1.2;
}

.subtitulo {
  font-family: 'Playfair Display', serif;
  font-size: 19px;
  color: white;
  margin-top: 25px;
  line-height: 1.2;
}

.beq {
  color: white;
  text-decoration: none;

  font-family: 'Playfair Display', serif;
  font-size: 25px;

  padding: 15px 30px;
  margin-top: 30px;

}