.botaoEscolha {
    border: 2px solid black;
    border-radius: 10px;
    width: 35%;
    list-style: none;
    display: flex;
    padding: 0;
    overflow: hidden;
}

.botaoEscolha li {
    flex: 1;
    text-align: center;
}

.center{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: none;
    background-color: transparent; /* Mantém o fundo transparente */
}

.botaoEscolha a {
    display: block;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    text-decoration: none;
    color:black
}


