* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Impedir o transbordamento horizontal */
}

body {
  padding-top: 56px; /*navbar size*/
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Impedir o transbordamento horizontal */
}


.navbar {
  background-color: #311847;
  border: 2px solid black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.inicial {
  border-bottom: 2px solid black;

  width: 100%; 
  min-height: 100vh;


  background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.9)), url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&q=80');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.titulo {
  line-height: 1.2;
  text-align: center;
  margin-top: 70px;
}

.h1titulo {
  line-height: 1.2;
  text-align: center;

  font-family: 'Playfair Display', serif;
  font-size: 60px;
  color: white;
}

.subtitulo {
  line-height: 1.2;
  text-align: center;

  margin-top: 25px;

  font-size: 23px;
  font-family: 'Playfair Display', serif;
  color: white;
}

.beq {
  color: white;
  text-decoration: none;

  font-family: 'Playfair Display', serif;
  font-size: 25px;

  padding: 15px;
  padding-top: 1px;
  padding-bottom: 1px;

  margin-top: 30px;

  background-color: #311847;
  border-radius: 15px;
  border: 3px solid black;
}

.equipamentos {
  border: 2px solid black;
  width: 100%; 
  min-height: 100vh;
  background-color: #e3eeeb;

}

.cardG{
  max-width: 100vw;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-title {
  font-size: 1.5rem; /* Diminui o tamanho do texto */
  margin: 0 auto; /* Centraliza o título */
  border: 2px solid black;
  padding: 10px; /* Adiciona espaçamento interno */
  width: fit-content; /* Ajusta a largura para caber no conteúdo */
}

.carrinho {
  border: 2px solid black;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box; /* Inclui bordas e padding no cálculo da largura */
  padding: 0; /* Garantir que não há preenchimento extra */
}

.alugueis{
  border: 2px solid black;
  width: 100%;
  min-height: 100vh;
  background-color: #e3eeeb;
}

/* Media Queries para telas menores */
@media (max-width: 768px) {
  .h1titulo {
    font-size: 8vw; /* Tamanho da fonte proporcional a telas menores */
  }

  .subtitulo {
    font-size: 3vw; /* Tamanho da fonte proporcional a telas menores */
  }

  .beq {
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
  
    padding: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
  
    margin-top: 30px;
  
    background-color: #311847;
    border-radius: 15px;
    border: 3px solid black;
  }
}

/* Media Queries para telas menores */
@media (max-width: 600px) {
  .h1titulo {
    font-size: 10vw; /* Tamanho da fonte proporcional a telas menores */
  }

  .subtitulo {
    font-size: 4vw; /* Tamanho da fonte proporcional a telas menores */
  }

  .beq {
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
  
    padding: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
  
    margin-top: 30px;
  
    background-color: #311847;
    border-radius: 15px;
    border: 3px solid black;
  }
}